<title>Flask Job Scheduler</title>
<link rel="stylesheet" media="screen" href="static/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">Home</a>
        <a class="nav-item nav-link" href="/addjob">Schedule Job</a>
        <a class="nav-item nav-link" href="/getjobs">View Pending Jobs</a>
        <a class="nav-item nav-link" href="/getjobsresults">View Completed Jobs</a>
    </div>
</nav>
<div class="container-lg col-7">
    <h2>Completed Jobs</h2>
    {% if wasCleaned != False %}
       <br>
       <div class="alert alert-warning">
           Jobs result list was cleaned recently: see JobResultsDump.txt
       </div>
   {% endif %}
    <!-- If the JobResultsList passed to the template is not empty -->
    {% if jobs %}
        <!-- Iterate through JobResults objects -->
        {% for job in jobs %}
            <div class="alert alert-info">
                <h3>{{ job['jobId'] }}</h3> 
                Started: {{ job['timeStarted'] }} Completed: {{ job['timeCompleted'] }} <br>
                Job type: {{ job['jobType'] }} <br>
                <!-- The return code will only be given for remote and shell jobs -->
                {% if job.get('returnCode', None) != None %}
                    Return code: {{ job['returnCode'] }} <br>
                {% endif %}
                <!-- If there was stdout, split lines at the new line, the new lines are tidied up in jobs.py -->
                {% if job.get('stdout', None) != None %}
                    Standard Out: <br>
                    {% for line in job['stdout'] %}
                        {{ line }} <br>
                    {% endfor %}  
                {% endif %}
                <!-- If there was stderr, split lines at the new line, the new lines are tidied up in jobs.py -->
                {% if job.get('stderr', None) != None %}
                    Standard Error: <br>
                    {% for line in job['stderr'] %} 
                        {{ line }} <br>
                    {% endfor %}  
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <br>
        <div class="alert alert-warning">
            No Completed Jobs
        </div>
    {% endif %}
</div>