{% if shouldShowHeader %}
<!DOCTYPE html>
<html>
    <head>
        <title>Flask Job Scheduler</title>
    </head>
    <body>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" media="screen" href="static/bootstrap.min.css">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/">Home</a>
                    <a class="nav-item nav-link" href="/addjob">Schedule Job</a>
                    <a class="nav-item nav-link" href="/getjobs">View Jobs With Pending Tasks</a>
                    <a class="nav-item nav-link" href="/getjobsresults">View Completed Tasks</a>
                </div>
            </nav>
        {% endif %}
        <div class="container col-12">
            <h2>Jobs With Pending Tasks</h2>
            <br>
            <!-- If the jobs object passed was not empty, create a table -->
            {% if jobs %}
                <table class="table">
                <thead>
                <tr>
                <th>Job Name</th>
                <th>Function</th>
                <th>Trigger</th>
                <th>Repeat Every</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Next Run Time</th>
                </tr>
                </thead>
                <tbody>
                <!-- Loop through jobs -->
                {% for job in jobs %}
                    <tr>
                    <td>{{ job['id'] }}</td>
                    <td>{{ job['func'] }}</td>
                    <td>{{ job['trigger'] }}</td>
                    <!-- The different interval schedule times -->
                    {% if job['trigger'] == 'interval' %}
                        <td>
                        {% if job.get('seconds') %}
                            {{ job['seconds'] }} Second(s)<br>
                        {% endif %}
                        {% if job.get('minutes') %}
                            {{ job['minutes'] }} Minutes(s)<br>
                        {% endif %}
                        {% if job.get('hours') %}
                            {{ job['hours'] }} Hour(s)<br>
                        {% endif %}
                        {% if job.get('days') %}
                            {{ job['days'] }} Day(s)<br>
                        {% endif %}
                        {% if job.get('weeks') %}
                            {{ job['weeks'] }} Week(s)<br>
                        {% endif %}
                        </td>
                    {% else %}
                        <td>N/A</td>
                    {% endif %}
          
                    {% if job.get('start_date') %}
                        <td>{{ job['start_date'].split('.')[0].split('T')[1] }}<br>{{ job['start_date'].split('T')[0] }}</td>
                    {% else %}
                        <td>N/A</td>
                    {% endif %}
          
                    {% if job.get('end_date') %}
                        <td>{{ job['end_date'].split('.')[0].split('T')[1] }}<br>{{ job['end_date'].split('T')[0] }}</td>
                    {% else %}
                        <td>N/A</td>
                    {% endif %}
                    <td>{{ job['next_run_time'].split('.')[0].split('T')[1].split('+')[0] }}<br>{{ job['next_run_time'].split('T')[0] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
            {% else %}
                <br>
                <div class="alert alert-warning">
                    No Pending Jobs
                </div>
            {% endif %}
        </div>
{% if shouldShowHeader %}
    </body>
</html>
{% endif %}