<title>Flask Job Scheduler</title>
<link rel="stylesheet" media="screen" href="static/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">Home</a>
        <a class="nav-item nav-link" href="/addjob">Schedule Job</a>
        <a class="nav-item nav-link" href="/getjobs">View Pending Jobs</a>
        <a class="nav-item nav-link" href="/getjobsresults">View Completed Jobs</a>
    </div>
</nav>
<div class="container">
    <h2>Jobs</h2>
    {% if jobs %}
        {% for job in jobs %}
            <div class="alert alert-info">
            {% for j in job %}
               {{ j }} : {{ job[j] }} <br>
            {% endfor %}
            </div>
        {% endfor %}
    {% endif %}
</div>